body {
    background-color: grey;
    text-align: center;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container {

    width: 300px;
    height: 515px;
    border-radius: 25px;
    background-color: honeydew;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.header
{
    font-family: 'Annie Use Your Telescope';
    background-color: black;
    color: rgb(241, 173, 173);
    font-size: 25px;
    text-align: center;
    height: 50px; 
     width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
}
button {
margin: 20px auto;
width: 150px;
height: 50px;
background-color: black;
color: rgb(156, 111, 111);
font-size: 20px;
border: none;
border-radius: 5px;
}
button:hover{
   color: rgb(178, 241, 67);
}
input,
select {
width: 85%;
border: none;
border-bottom: 1px solid green;
padding: 10px;
border-radius: 8px;
}